# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=

# AI Server
AI_SERVER_BASE_URL=
AI_SERVER_INTERNAL_API_KEY=

# AWS
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@modev.modeep
MAIL_FROM_NAME=MoDev